/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}


/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/


body {
    background-image: url("../images/fond/global.png");
    background-repeat: repeat;
    background-color: black;
    background-attachment: fixed;
    font: 1.6rem "Oranienbaum", "Arial";
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: darkorange;
}

h2 {
    font: 3.2rem "Monoton", "Arial";
    margin: 0;
    text-transform: uppercase;
}

a[hreflang="ja"]::after {
    content: " [en japonais]";
}

:root {
    scroll-behavior: smooth;
}

/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */





/*---------------------------------------
                header
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */


header, section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    position: relative;
}

header a {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translatex(-50%);
}

header h1 {
    font: 10rem "Monoton", "Arial";
}

/*---------------------------------------
                Section Générale
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

.boite {
    width: 800px;
    padding: 48px;
    background-color: rgba(0,0,0,0.8);
    border-style: solid;
    border-radius: 10px;
}

h2 span {
    font: 1.7rem "Oranienbaum", "Arial";
    text-transform: lowercase;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.images a {
    width: 200px;
    margin: 10px 0;
    text-align: center;
}

a img {
    width: 100%;
    padding-bottom: 10px;
}

/*---------------------------------------
                Section sports
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */


section.sports {
    background-image: url(../images/fond/bicycles.png);
    background-attachment: fixed;
}


/*---------------------------------------
                Section web
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */



section.web {
    background-image: url(../images/fond/science.png);
    background-attachment: fixed;
}

section.web img {
    width: 50%;
}

.web .images a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.web .images {
    padding-bottom: 50px;
}

.lien_float {
    background-color: darkred;
    padding: 10px;
    text-align: center;
}

.lien_float a:hover {
    text-decoration: underline;
    color: white;
}

/*---------------------------------------
             Section photographie
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

section.photos {
    background-image: url("../images/fond/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section.photos img{
    width: 30%;
}

section.photos .images a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.photos .images {
    display: flex;
    flex-direction: column;
}

/*---------------------------------------
    Icône retour
---------------------------------------*/

a.haut {
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.8);
    border-style: solid;
    border-width: 4px;
    border-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 15vw;
}

a.haut:hover {
    color: darkorange;
    border-color: darkorange;
}

